.btn-primary {
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  transform: scale(1.05);
}

.text-dark #basic-nav-dropdown {
  color: black;
}

.text-light #basic-nav-dropdown {
  color: white;
}